config.json
data.json
__pycache__/checks.cpython-38.pyc
__pycache__/config.cpython-38.pyc
__pycache__/Cookiebot.cpython-38.pyc
__pycache__/IO.cpython-38.pyc
__pycache__/misc.cpython-38.pyc
__pycache__/replies.cpython-38.pyc
